#site-wide-notice
	display flex
	justify-content center
	background $color__accent
	color $color__accent-darker
	font-size 13px
	padding 5px 0
	+widerThan($mobileLG)
		font-size 15px
	a
		color $color__accent-dark
		background #fff
		border-bottom none
		border-radius 4px
		box-shadow none
		padding 0 7px
		margin 0 0 0 10px
		&:hover
			color #fff
			background $color__accent-dark 
			box-shadow none
/* Checkout error notices */
.woocommerce-error
	list-style none
	margin 20px 0 0 20px
	padding 0 1em
	& > li
		text-indent -25px
		margin-bottom 5px
		color $color__accent-second-hover
		--error-color $color__accent-second-hover
		& > svg
			margin-right 10px
		&::before
			display none
			font-family "Font Awesome 5 Free"
			font-weight 900
			content "\f00d"
			font-style normal
			font-variant normal
			text-rendering auto

/* WooCommerce notices */
.woocommerce-notices-wrapper
	margin 0 auto
	padding 0
	max-width 100%
	clear both
	.woocommerce-info
		display block
		width 100%
		margin 3em auto
		padding 2em
		background #f5f5f5
	.woocommerce-message
		display flex
		justify-content center
		align-items flex-start
		width 100%
		margin 3em auto
		padding 2em
		&[role=alert]
			background #f5f5f5
			align-items center
			flex-direction column-reverse
			+widerThan($tabletSM)
				flex-direction row-reverse
		& > .wc-forward
			margin-left 0
			margin-top 20px
			background $color__accent-hover
			white-space nowrap
				&:hover
					background $color__accent-dark
			+widerThan($tabletSM)
				margin-left 20px
				margin-top 0
		& > .restore-item
			margin-right 0
			margin-bottom 20px
			+widerThan($tabletSM)
				margin-right 20px
				margin-bottom 0
	.woocommerce-error
		list-style none
		display flex
		justify-content center
		align-items flex-start
		width 100%
		margin 3em auto
		padding 2em
		background #f5f5f5
		& > li
			text-indent -25px
			margin-left 25px
			.wc-forward.button
				float right
				text-indent 0
		&[role=alert]
			color $color__accent-second-hover

.woocommerce-invalid-required-field
	input
		border-left 6px solid $color__accent-second-hover
.woocommerce-validated
	input
		border-left 6px solid $color__accent-hover
	input#createaccount
		border-left 2px solid #e2e2e2
		&:hover
			border-left 2px solid #a9a9a9
		&:checked
			border-left 2px solid #c1c1c1

/* Special Messages (on cart & checkout) */
.kmc-message
	margin-bottom 30px
	& ~ &
		margin-bottom 0
	&.good
		background $color__accent-hover
		.icon-wrap
			color $color__accent-dark
		.text-content
			h3
				color $color__accent-darker
			.continue-shopping-link,
			.checkout-link
				color $color__accent-dark
				&:hover
					background $color__accent-dark
	&.bad
		background $color__accent-second
		.icon-wrap
			color $color__accent-second-hover
		.text-content
			h3
				color $color__accent-second-dark
			.continue-shopping-link,
			.checkout-link
				color $color__accent-second-hover
				&:hover
					background $color__accent-second-hover
	.message-wrap
		display flex
		flex-direction column
		justify-content center
		align-items center
		max-width 100%
		color #fff
		margin 0 auto
		padding 2em
		+widerThan($tabletSM)
			flex-direction row
			padding 2em 4em
		.icon-wrap
			position relative
			margin-bottom 2em
			margin-right 0
			+widerThan($tabletSM)
				margin-bottom 0
				margin-right 2em
			&::before
				content ''
				display block
				width 80px
				height 80px
				border-radius 160px
				background #fff
				position absolute
				top -18px
				left 50%
				transform translateX(-50%)
			svg
				z-index 99
				position relative
				width 40px
				height 40px
		.text-content
			display flex
			flex-direction column
			+widerThan($tabletSM)
				flex-direction row
				align-items center
				justify-content space-between
			h3
				font-weight 400
				margin 0
				letter-spacing 1px
				+widerThan($tabletSM)
					max-width 40%
			.amount
				font-weight 700
			p
				margin-bottom 0
				font-family $font__main
				+widerThan($tabletSM)
					margin 0
					flex 1 0
			.continue-shopping-link,
			.checkout-link
				box-shadow none
				display block
				width max-content
				margin 2em auto 0
				padding 1em 2em
				background #fff
				border-radius 6px
				border none
				white-space nowrap
				+widerThan($tabletSM)
					margin 0 0 0 1em
				&:hover
					color #fff