/*--------------------------------------------------------------
 ## Products Grid / Main Shop Page
----------------------------------------------------------------*/
.woocommerce.shop
	#secondary
		display none
.products
	margin 0
	padding 0
	list-style none
	list-style-type none
	display flex
	flex-wrap wrap
	justify-content space-between

	&.columns-3
		.product
			width 30%
	&.columns-4
		.product
			width 22%
	.product-category
		& > a
			border none
			box-shadow none
			.woocommerce-loop-category__title
				text-align center
				.count
					display none
	.product
		padding-bottom 5em
		.woocommerce-loop-product__link
			display block
			position relative
			border-bottom 0
			border-radius 2px
			background-color transparent
			box-shadow none
			.attachment-woocommerce_thumbnail
				border-radius 2px
			.product-title-and-price
				text-align center
				.woocommerce-loop-product__title
					font-size 12px
					letter-spacing 1px
					+widerThan($mobileLG)
						font-size 18px
						letter-spacing 4px
				.price
					display flex
					flex-direction row-reverse
					justify-content center
					align-items center
					.amount
						color $color__accent
					.misfit-price + .amount
						color lighten($color__accent, 10)
						text-decoration line-through
					.misfit-price
						color $color__accent-dark
						margin-left 15px
			&:hover
				.woocommerce-loop-product__title
					color #000
				.price
					.amount
						color $color__accent-dark
					.misfit-price + .amount
						color $color__accent
					.misfit-price
						color $color__accent-darker
		&.outofstock
			.woocommerce-loop-product__link
				&::before
					content 'Sold Out'
					display flex
					justify-content center
					align-items center
					position absolute
					font-size 13px
					line-height 1.2
					text-align center
					top -10px
					right -10px
					transform none
					width 50px
					height 50px
					background rgba(0,0,0,.3)
					color #fff
					border-radius 100%
					+widerThan($mobileLG)
						font-size 24px
						width 90px
						height 90px
				&:hover
					&::before
						background rgba(0,0,0,.5)
		/*
		&.product_cat-misfit
			.woocommerce-loop-product__link
				&::before
					content '25% off!'
					display flex
					justify-content center
					align-items center
					position absolute
					width max-content
					margin auto
					left 0
					right 0
					bottom 129px
					background-color $color__accent
					padding 1em
					line-height 1
					color $color__accent-darker
		*/
		.button
			display none
/* WooCommerce pagination */
.woocommerce-pagination
	margin-top 3em
	& > .page-numbers
		list-style none
		list-style-type none
		margin 0
		padding 0
		display flex
		justify-content center
		& > li
			margin-right 10px
			&:last-child
				margin-right 0
			& > .page-numbers
				padding 5px
				border-bottom none
				box-shadow none
				&[aria-current="page"]
					color #fff
					background-color $color__accent-second
					border-radius 2px