/*--------------------------------------------------------------
 ## Single Product Page
----------------------------------------------------------------*/
.single-product
	#secondary
		display none
	#product-cat-backlink
		margin-bottom 20px
	.product[id^="product-"]
		display grid
		grid-template-columns 1fr
		margin-top 2em
		+widerThan($tabletSM)
			grid-template-columns 4fr 6fr
			grid-gap 24px
			margin-top 0
		.woocommerce-product-gallery
			order 1
			position relative
			+widerThan($tabletSM)
				order 2
			.woocommerce-product-gallery__trigger
				position absolute
				top .5em
				right .5em
				font-size 2em
				z-index 9
				width 46px
				height 46px
				background #fff
				text-indent -9999px
				border-radius 100%
				box-sizing content-box
				opacity .6
				&::before,
				&::after
					content ''
					display block
					box-sizing content-box
					background #1d1c21
				&::before
					width 10px
					height 10px
					border 2px solid #000
					background transparent
					border-radius 100%
					position absolute
					top 13px
					left 14px
				&::after
					width 2px
					height 8px
					border-radius 6px
					position absolute
					top 24px
					left 28px
					transform rotate(-45deg)
				&:hover
					opacity 1
					transform scale(1.1)
			.woocommerce-product-gallery__wrapper
				margin 0
				a
					display block
					line-height 0
			.flex-viewport
				margin-bottom 4px
				border-radius 2px
			.flex-control-thumbs
				list-style none
				list-style-type none
				display flex
				flex-wrap wrap
				justify-content flex-start
				width calc(100% + 8px)
				position relative
				margin 0 0 4px -4px
				padding 0
				bottom auto
				left auto
				right auto
				top auto
				transform none
				& > li
					float left
					line-height 0
					list-style none
					cursor pointer
					margin 0
					padding 4px
					box-sizing border-box
					border-radius 2px
					&:last-child
						margin-right 0
					&:hover
						cursor pointer
						img
							opacity .6
		.summary
			order 2
			margin 0
			padding 36px
			background rgba(0,0,0,0.04)
			border-radius 2px
			+widerThan($tabletSM)
				order 1
			.product_title
				margin-top 0
				margin-bottom 6px
			.price
				display flex
				align-items center
				.amount
					color $color__accent-dark
				.misfit-price
					.amount
						color $color__accent-darker
						margin-left 15px
				.misfit-price + .amount
					text-decoration line-through
				&::before
					display none
					content "\f02b"
					font-family "Font Awesome 5 Free"
					font-weight 900
				svg
					color $color__accent
					margin-right 6px
			.stock
				display none
			.cwginstock-subscribe-form
				.panel
					border-color $color__accent
					.panel-heading
						background-color $color__accent
						border-color $color__accent
						h4
							margin 10px
							&::after
								content 'Want us to notify you when this item is back in stock? Sign up below!'
								margin-top 10px
								display block
								font-weight normal
			form
				display flex
				flex-direction row
				.quantity
					display flex
					margin-right 10px
					input[type="number"]
						width 55px
					&.hidden
						margin-right 0
				button[type="submit"]
					width 100%
			.variations_form
				flex-direction column
				.variations
					tr
						display flex
						flex-direction column
						justify-content center
						align-items flex-start
						.label
							padding 0 0 10px 0
							&::after
								content ':'
						.value
							display flex
							flex-direction column
							justify-content center
							align-items flex-start
							.variable-items-wrapper
								.variable-item
									width 80px
									height 80px
							.reset_variations
								margin 20px 0 0
								display flex
								justify-content center
								align-items center
								width max-content
								&::before
									content '×'
									text-decoration none
									margin-right 5px
				.single_variation_wrap
					.woocommerce-variation
						.woocommerce-variation-price
							.price
								color $color__accent-dark
								font-weight 700
					.woocommerce-variation-add-to-cart
						display flex
			.wcppec-checkout-buttons
				&::before
					content '- or -'
					display block
					margin 0 0 1em
			.sharedaddy
				.sd-content
					& > ul
						list-style none
						list-style-type none
						display flex
						justify-content space-between
						margin 0
						padding 0
						align-items flex-start
						& > li
							display flex
							align-items flex-start
							&.share-email
								display block
							.fb-share-button,
							.pinterest_button
								display flex
							&.share-end
								display none
			.woocommerce-tabs
				display none
		.woocommerce-tabs
			order 3
			grid-column 1 / -1
			padding 2em 0 0
			ul
				margin 0
				padding 0
				list-style none
				list-style-type none
				display flex
				justify-content center
				align-items center
			.woocommerce-Tabs-panel
				width 70%
				margin 0 auto
	&.product-type-simple
		.summary
			form
				.quantity
					margin-right 10px

/*--------------------------------------------------------------
 ## Related Products
----------------------------------------------------------------*/
.related
	order 4
	grid-column 1 / -1
	margin-top 4em
	+widerThan($mobileLG)
		margin-top 6em
	& > h2
		grid-column 1 / -1