.sticky {
  display: block;
}
.page-title,
.entry-title {
  text-align: center;
}
.hentry {
  margin: 0;
  & > header {
    margin: 0 0 4em 0;
  }
}
.byline,
.updated:not(.published) {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Common Styles */
article {
  header {
    padding: 0;
  }
}
