/* Instagram feed plugin */
#sbi_lightbox
	a
		box-shadow none
		border-bottom none
		&:hover
			background-color transparent
	.sbi_lb-nav
		a
			height 100%
			&:hover
				background-color rgba(0,0,0,0.2)