.main-navigation {
  display: block;
  width: unset;
  justify-content: center;
  @include widerThan($tabletLG) {
    display: flex;
    justify-content: flex-end;
  }
  .mobile-nav-overlay {
    content: '';
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms;
    z-index: -1;
  }
  #primary-menu-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 80%;
    overflow: hidden;
    z-index: 99;
    transition-timing-function: cubic-bezier(0.5, 0, 0.26, 1);
    transition: transform 0.5s;
    transform: translateX(-100%);
    @include widerThan($tabletLG) {
      position: relative;
      width: unset;
      height: auto;
      overflow: unset;
      min-height: 1px !important;
      transform: translateX(0);
    }
    #primary-menu {
      display: block;
      position: relative;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      @include widerThan($tabletLG) {
        margin: 0;
        padding: 0;
        height: auto;
      }
      .content-width {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        padding: 3em 0 0 0;
        @include widerThan($tabletLG) {
          flex-direction: row;
          padding: 0;
          height: auto;
        }
      }
      li {
        position: relative;
        transition: all 0.2s ease-in-out;
        &:hover > a,
        &.focus > a {
          background: transparent;
          opacity: 0.5;
        }
        &.menu-item-has-children {
          & > a {
            &::after {
              content: '▼';
              font-size: 10px;
              position: absolute;
              right: 20px;
              top: 20px;
              @include widerThan($tabletLG) {
                content: '';
              }
            }
          }
          @include widerThan($tabletLG) {
            &:hover {
              .sub-menu {
                display: block;
                height: unset;
                li {
                  display: block;
                }
              }
            }
          }
        }
      }
      & > li {
        &:hover > a,
        &.focus > a {
          background: rgba(0, 0, 0, 0.3);
        }
      }
      /* Sub-menu */
      .sub-menu {
        display: block;
        box-shadow: none;
        height: 0;
        z-index: 1;
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #eaeaea;
        transition: height 0.5s ease-in-out;
        @include widerThan($tabletLG) {
          display: none;
          position: absolute;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          top: 2.7em;
          z-index: 99999;
          padding: 0.5em 1.5em;
        }
        li {
          display: none;
          a {
            color: #8a8a8a;
            width: 100%;
            background-color: transparent;
            box-shadow: none;
            text-align: center;
            padding: 0.35em 1em;
            @include widerThan($tabletLG) {
              width: 150px;
              text-align: left;
              padding: 0.75em 0;
            }
          }
        }
        &.active-submenu {
          height: unset;
          transition: height 0.5s ease-in-out;
          li {
            display: block;
          }
        }
      }
      #menu-close {
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
        color: #333;
        padding: 1em;
        z-index: 999;
        cursor: pointer;
        @include widerThan($tabletLG) {
          display: none;
        }
      }
    }
    a {
      display: block;
      text-decoration: none;
      padding: 0.85em 1em;
      border-bottom: 1px solid #e2e2e2;
      background-color: transparent;
      box-shadow: none;
      text-align: center;
      @include widerThan($tabletLG) {
        border-bottom: none;
      }
    }
    .menu-social-menu-container {
      @include widerThan($tabletLG) {
        display: none;
      }
      #social-menu {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        .content-width {
          display: flex;
          li {
            display: flex;
            justify-content: center;
            width: 100%;
            transform: translate3d(0, 0, 0);
            border-bottom: none;
            a {
              flex: 1 0 auto;
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                width: 20px;
                height: 20px;
              }
              &:hover {
                color: #fff;
              }
              &[title='instagram'] {
                &:hover {
                  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
                }
              }
              &[title='twitter'] {
                &:hover {
                  background: #00aced;
                }
              }
              &[title='pinterest'] {
                &:hover {
                  background: #e60023;
                }
              }
            }
          }
        }
      }
    }
  }
  #menu-toggle {
    display: inline-block;
    transition: all 0.3s ease-out;
    cursor: pointer;
    padding: 1em;
    @include widerThan($tabletLG) {
      display: none;
    }
    .menu-icon {
      height: 20px;
      width: 20px;
      position: relative;
      z-index: 2;
      cursor: pointer;
      display: block;
      .menu-icon__line {
        height: 2px;
        width: 20px;
        display: block;
        background-color: #000;
        margin-bottom: 5px;
        cursor: pointer;
        transition: transform 0.2s ease, background-color 0.5s ease;
      }
      .menu-icon__line-left {
        width: 11px;
        transition: all 200ms linear;
      }
      .menu-icon__line-right {
        width: 11px;
        float: right;
        transition: all 200ms linear;
      }
      &:hover {
        .menu-icon__line-left,
        .menu-icon__line-right {
          width: 20px;
        }
      }
    }
  }
}
.admin-bar {
  #primary-menu-wrap {
    top: 46px;
    @include widerThan(782px) {
      top: 32px;
    }
    @include widerThan($tabletLG) {
      top: 0;
    }
  }
}
.menu--active {
  height: 100vh;
  overflow: hidden;
  @include widerThan($tabletLG) {
    overflow: unset;
  }
  .main-navigation {
    .mobile-nav-overlay {
      opacity: 1;
      transition: opacity 500ms;
      z-index: 9;
      @include widerThan($tabletLG) {
        display: none;
        position: relative;
        width: 1px;
        height: 1px;
        opacity: 0;
        z-index: -1;
      }
    }
    #primary-menu-wrap {
      width: 80%;
      transition-timing-function: cubic-bezier(0.5, 0, 0.26, 1);
      transition: transform 0.5s;
      transform: translateX(0);
      @include between($mobileLG, $tabletLG) {
        width: 40%;
      }
      @include widerThan($tabletLG) {
        top: 0;
        width: unset;
        transform: translateX(0);
      }
      #primary-menu {
        .content-width {
          @include widerThan($tabletLG) {
            flex-direction: row;
          }
        }
      }
    }
  }
}

/* Cart Nav Item */
.cart-navigation {
  display: flex;
  justify-content: flex-end;
  @include widerThan($tabletLG) {
    display: none;
  }
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        display: block;
        padding: 1em;
        color: $color__link;
        border: 0;
        border-bottom: 0;
        background-color: transparent;
        box-shadow: none;
        position: relative;
        &:hover {
          color: $color__link-hover;
          border: 0;
        }
      }
    }
  }
}
/* Cart nav icon count */
#cart-count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 4px;
  background: $color__accent-second-hover;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 11px;
  text-align: center;
}
.menu--active {
  #cart-count {
    left: 52%;
  }
}

/* Homepage Menu (ie. make stuff white) */
.home {
  #menu-toggle {
    .menu-icon {
      .menu-icon__line {
        background-color: #fff;
      }
    }
  }
  .main-navigation {
    #primary-menu-wrap {
      background-color: #fff;
      @include widerThan($tabletLG) {
        background-color: transparent;
      }
      a {
        color: $color__link;
        @include widerThan($tabletLG) {
          color: #fff;
        }
      }
    }
  }
  .cart-navigation {
    ul {
      li {
        a {
          color: #fff;
          &:hover {
            color: #fff;
            opacity: 0.7;
          }
        }
      }
    }
  }
}
.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }
  & .nav-previous {
    float: left;
    width: 50%;
  }
  & .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
